In [1]:
import pandas as pd
import numpy as np

In [2]:
file_path_1 = r'C:\Users\16395\Downloads\final project\bigdatasource\LAPD\crime_data\before_transformation\Crime_Data_from_2010_to_2019.csv'
file_path_2 = r'C:\Users\16395\Downloads\final project\bigdatasource\LAPD\crime_data\before_transformation\Crime_Data_from_2020_to_Present.csv'

In [3]:
crime_data_2010_to_2019 = pd.read_csv(file_path_1)
crime_data_2020_to_present = pd.read_csv(file_path_2)

In [4]:
print(crime_data_2010_to_2019.head())
print(crime_data_2020_to_present.head())

       DR_NO               Date Rptd                DATE OCC  TIME OCC  AREA   \
0    1307355  02/20/2010 12:00:00 AM  02/20/2010 12:00:00 AM      1350     13
1   11401303  09/13/2010 12:00:00 AM  09/12/2010 12:00:00 AM        45     14
2   70309629  08/09/2010 12:00:00 AM  08/09/2010 12:00:00 AM      1515     13
3   90631215  01/05/2010 12:00:00 AM  01/05/2010 12:00:00 AM       150      6
4  100100501  01/03/2010 12:00:00 AM  01/02/2010 12:00:00 AM      2100      1

   AREA NAME  Rpt Dist No  Part 1-2  Crm Cd  \
0     Newton         1385         2     900
1    Pacific         1485         2     740
2     Newton         1324         2     946
3  Hollywood          646         2     900
4    Central          176         1     122

                                         Crm Cd Desc  ... Status  \
0                           VIOLATION OF COURT ORDER  ...     AA
1  VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...  ...     IC
2                          OTHER MISCELLANEOUS CRIME  ...     IC
3                           VIOLATION OF COURT ORDER  ...     IC
4                                    RAPE, ATTEMPTED  ...     IC

    Status Desc Crm Cd 1 Crm Cd 2  Crm Cd 3 Crm Cd 4  \
0  Adult Arrest    900.0      NaN       NaN      NaN
1   Invest Cont    740.0      NaN       NaN      NaN
2   Invest Cont    946.0      NaN       NaN      NaN
3   Invest Cont    900.0    998.0       NaN      NaN
4   Invest Cont    122.0      NaN       NaN      NaN

                                  LOCATION                     Cross Street  \
0   300 E  GAGE                         AV                              NaN
1          SEPULVEDA                    BL  MANCHESTER                   AV
2  1300 E  21ST                         ST                              NaN
3          CAHUENGA                     BL  HOLLYWOOD                    BL
4          8TH                          ST  SAN PEDRO                    ST

       LAT       LON
0  33.9825 -118.2695
1  33.9599 -118.3962
2  34.0224 -118.2524
3  34.1016 -118.3295
4  34.0387 -118.2488

[5 rows x 28 columns]
       DR_NO               Date Rptd                DATE OCC  TIME OCC  AREA  \
0  190326475  03/01/2020 12:00:00 AM  03/01/2020 12:00:00 AM      2130     7
1  200106753  02/09/2020 12:00:00 AM  02/08/2020 12:00:00 AM      1800     1
2  200320258  11/11/2020 12:00:00 AM  11/04/2020 12:00:00 AM      1700     3
3  200907217  05/10/2023 12:00:00 AM  03/10/2020 12:00:00 AM      2037     9
4  220614831  08/18/2022 12:00:00 AM  08/17/2020 12:00:00 AM      1200     6

   AREA NAME  Rpt Dist No  Part 1-2  Crm Cd  \
0   Wilshire          784         1     510
1    Central          182         1     330
2  Southwest          356         1     480
3   Van Nuys          964         1     343
4  Hollywood          666         2     354

                                Crm Cd Desc  ... Status   Status Desc  \
0                          VEHICLE - STOLEN  ...     AA  Adult Arrest
1                     BURGLARY FROM VEHICLE  ...     IC   Invest Cont
2                             BIKE - STOLEN  ...     IC   Invest Cont
3  SHOPLIFTING-GRAND THEFT ($950.01 & OVER)  ...     IC   Invest Cont
4                         THEFT OF IDENTITY  ...     IC   Invest Cont

  Crm Cd 1 Crm Cd 2  Crm Cd 3 Crm Cd 4  \
0    510.0    998.0       NaN      NaN
1    330.0    998.0       NaN      NaN
2    480.0      NaN       NaN      NaN
3    343.0      NaN       NaN      NaN
4    354.0      NaN       NaN      NaN

                                   LOCATION Cross Street      LAT       LON
0   1900 S  LONGWOOD                     AV          NaN  34.0375 -118.3506
1   1000 S  FLOWER                       ST          NaN  34.0444 -118.2628
2   1400 W  37TH                         ST          NaN  34.0210 -118.3002
3  14000    RIVERSIDE                    DR          NaN  34.1576 -118.4387
4                         1900    TRANSIENT          NaN  34.0944 -118.3277

[5 rows x 28 columns]

In [5]:
combined_crime_data = pd.concat([crime_data_2010_to_2019, crime_data_2020_to_present])

In [6]:
print(combined_crime_data.head())

       DR_NO               Date Rptd                DATE OCC  TIME OCC  AREA   \
0    1307355  02/20/2010 12:00:00 AM  02/20/2010 12:00:00 AM      1350   13.0
1   11401303  09/13/2010 12:00:00 AM  09/12/2010 12:00:00 AM        45   14.0
2   70309629  08/09/2010 12:00:00 AM  08/09/2010 12:00:00 AM      1515   13.0
3   90631215  01/05/2010 12:00:00 AM  01/05/2010 12:00:00 AM       150    6.0
4  100100501  01/03/2010 12:00:00 AM  01/02/2010 12:00:00 AM      2100    1.0

   AREA NAME  Rpt Dist No  Part 1-2  Crm Cd  \
0     Newton         1385         2     900
1    Pacific         1485         2     740
2     Newton         1324         2     946
3  Hollywood          646         2     900
4    Central          176         1     122

                                         Crm Cd Desc  ...   Status Desc  \
0                           VIOLATION OF COURT ORDER  ...  Adult Arrest
1  VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...  ...   Invest Cont
2                          OTHER MISCELLANEOUS CRIME  ...   Invest Cont
3                           VIOLATION OF COURT ORDER  ...   Invest Cont
4                                    RAPE, ATTEMPTED  ...   Invest Cont

   Crm Cd 1 Crm Cd 2 Crm Cd 3  Crm Cd 4  \
0     900.0      NaN      NaN       NaN
1     740.0      NaN      NaN       NaN
2     946.0      NaN      NaN       NaN
3     900.0    998.0      NaN       NaN
4     122.0      NaN      NaN       NaN

                                  LOCATION                     Cross Street  \
0   300 E  GAGE                         AV                              NaN
1          SEPULVEDA                    BL  MANCHESTER                   AV
2  1300 E  21ST                         ST                              NaN
3          CAHUENGA                     BL  HOLLYWOOD                    BL
4          8TH                          ST  SAN PEDRO                    ST

       LAT       LON AREA
0  33.9825 -118.2695  NaN
1  33.9599 -118.3962  NaN
2  34.0224 -118.2524  NaN
3  34.1016 -118.3295  NaN
4  34.0387 -118.2488  NaN

[5 rows x 29 columns]

In [7]:
# Check the initial state of the data
print("Initial data shape:", combined_crime_data.shape)
print("Null values per column:\n", combined_crime_data.isnull().sum())
print("Duplicate rows:", combined_crime_data.duplicated().sum())

Initial data shape: (3074468, 29)
Null values per column:
 DR_NO                   0
Date Rptd               0
DATE OCC                0
TIME OCC                0
AREA               951608
AREA NAME               0
Rpt Dist No             0
Part 1-2                0
Crm Cd                  0
Crm Cd Desc             0
Mocodes            363884
Vict Age                0
Vict Sex           325708
Vict Descent       325764
Premis Cd              64
Premis Desc           755
Weapon Used Cd    2035931
Weapon Desc       2035932
Status                  4
Status Desc             0
Crm Cd 1               21
Crm Cd 2          2864735
Crm Cd 3          3068616
Crm Cd 4          3074299
LOCATION                0
Cross Street      2570242
LAT                     0
LON                     0
AREA              2122860
dtype: int64
Duplicate rows: 0

In [8]:
# Remove timestamp '12:00:00 AM' from 'Date Rptd' and 'DATE OCC'
combined_crime_data['Date Rptd'] = pd.to_datetime(combined_crime_data['Date Rptd']).dt.date
combined_crime_data['DATE OCC'] = pd.to_datetime(combined_crime_data['DATE OCC']).dt.date

C:\Users\16395\AppData\Local\Temp\ipykernel_4248\1613850335.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  combined_crime_data['Date Rptd'] = pd.to_datetime(combined_crime_data['Date Rptd']).dt.date
C:\Users\16395\AppData\Local\Temp\ipykernel_4248\1613850335.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  combined_crime_data['DATE OCC'] = pd.to_datetime(combined_crime_data['DATE OCC']).dt.date

In [9]:
# Remove the specified columns
columns_to_remove = ['Part 1-2', 'Mocodes', 'Crm Cd 1', 'Crm Cd 2', 'Crm Cd 3', 'Crm Cd 4']
combined_crime_data = combined_crime_data.drop(columns=columns_to_remove)

In [10]:
def clean_address(address):
    if pd.isna(address):
        return address
    return ' '.join(address.split())

In [11]:
# Clean LOCATION and Cross Street columns
combined_crime_data['LOCATION'] = combined_crime_data['LOCATION'].apply(clean_address)
combined_crime_data['Cross Street'] = combined_crime_data['Cross Street'].apply(clean_address)

In [16]:
# Convert 'Weapon Used Cd' and 'Weapon Desc' columns to string, then strip whitespace and replace empty strings with NaN
combined_crime_data['Weapon Used Cd'] = combined_crime_data['Weapon Used Cd'].astype(str).str.strip().replace('', np.nan)
combined_crime_data['Weapon Desc'] = combined_crime_data['Weapon Desc'].astype(str).str.strip().replace('', np.nan)

In [17]:
output_file_path = r'C:\Users\16395\Downloads\final project\bigdatasource\LAPD\crime_data\after_transformation\Combined_Crime_Data.csv'

In [18]:
combined_crime_data.to_csv(output_file_path, index=False)

In [21]:
print(f"Combined CSV file has been created at {output_file_path}")

Combined CSV file has been created at C:\Users\16395\Downloads\final project\bigdatasource\LAPD\crime_data\after_transformation\Combined_Crime_Data.csv