In [1]:
!pip install pandas psycopg2
!pip install sqlalchemy
!pip install psycopg2-binary
!pip install pyspark

Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: psycopg2 in c:\programdata\anaconda3\lib\site-packages (2.9.9)
Requirement already satisfied: numpy>=1.23.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: sqlalchemy in c:\programdata\anaconda3\lib\site-packages (2.0.30)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy) (4.10.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Requirement already satisfied: psycopg2-binary in c:\programdata\anaconda3\lib\site-packages (2.9.9)
Requirement already satisfied: pyspark in c:\programdata\anaconda3\lib\site-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in c:\programdata\anaconda3\lib\site-packages (from pyspark) (0.10.9.7)

In [2]:
import pandas as pd
from sqlalchemy import create_engine
from pyspark.sql import SparkSession
from pyspark.sql.functions import to_date, col, expr, trim, when

In [3]:
# Define the connection string
connection_string = 'postgresql+psycopg2://postgres:Winter_2024@localhost/LAPD'

In [4]:
# Create the SQLAlchemy engine
engine = create_engine(connection_string)

In [5]:
# Define the query for crime_data
query = 'SELECT * FROM public."CRIME_DATA"'

In [6]:
# Fetch the data
df = pd.read_sql_query(query, engine)

In [7]:
# Display the dataframe
print(df.head(5))

       DR_NO               Date Rptd                DATE OCC  TIME OCC  AREA  \
0    1307355  02/20/2010 12:00:00 AM  02/20/2010 12:00:00 AM      1350    13
1   11401303  09/13/2010 12:00:00 AM  09/12/2010 12:00:00 AM        45    14
2   70309629  08/09/2010 12:00:00 AM  08/09/2010 12:00:00 AM      1515    13
3   90631215  01/05/2010 12:00:00 AM  01/05/2010 12:00:00 AM       150     6
4  100100501  01/03/2010 12:00:00 AM  01/02/2010 12:00:00 AM      2100     1

   AREA NAME  Rpt Dist No Part 1-2  Crm Cd  \
0     Newton         1385        2     900
1    Pacific         1485        2     740
2     Newton         1324        2     946
3  Hollywood          646        2     900
4    Central          176        1     122

                                         Crm Cd Desc  ... Status  \
0                           VIOLATION OF COURT ORDER  ...     AA
1  VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...  ...     IC
2                          OTHER MISCELLANEOUS CRIME  ...     IC
3                           VIOLATION OF COURT ORDER  ...     IC
4                                    RAPE, ATTEMPTED  ...     IC

    Status Desc Crm Cd 1 Crm Cd 2  Crm Cd 3 Crm Cd 4  \
0  Adult Arrest    900.0      NaN       NaN      NaN
1   Invest Cont    740.0      NaN       NaN      NaN
2   Invest Cont    946.0      NaN       NaN      NaN
3   Invest Cont    900.0    998.0       NaN      NaN
4   Invest Cont    122.0      NaN       NaN      NaN

                                  LOCATION                     Cross Street  \
0   300 E  GAGE                         AV                             None
1          SEPULVEDA                    BL  MANCHESTER                   AV
2  1300 E  21ST                         ST                             None
3          CAHUENGA                     BL  HOLLYWOOD                    BL
4          8TH                          ST  SAN PEDRO                    ST

       LAT       LON
0  33.9825 -118.2695
1  33.9599 -118.3962
2  34.0224 -118.2524
3  34.1016 -118.3295
4  34.0387 -118.2488

[5 rows x 28 columns]

In [8]:
# Define the query for crime_data
query = 'SELECT * FROM public."CRIME_DATA_1"'

In [9]:
# Fetch the data
df1 = pd.read_sql_query(query, engine)

In [10]:
# Display the dataframe
print(df1.head(5))

       DR_NO               Date Rptd                DATE OCC  TIME OCC  AREA  \
0  190326475  03/01/2020 12:00:00 AM  03/01/2020 12:00:00 AM      2130     7
1  200106753  02/09/2020 12:00:00 AM  02/08/2020 12:00:00 AM      1800     1
2  200320258  11/11/2020 12:00:00 AM  11/04/2020 12:00:00 AM      1700     3
3  200907217  05/10/2023 12:00:00 AM  03/10/2020 12:00:00 AM      2037     9
4  220614831  08/18/2022 12:00:00 AM  08/17/2020 12:00:00 AM      1200     6

   AREA NAME  Rpt Dist No Part 1-2  Crm Cd  \
0   Wilshire          784        1     510
1    Central          182        1     330
2  Southwest          356        1     480
3   Van Nuys          964        1     343
4  Hollywood          666        2     354

                                Crm Cd Desc  ... Status   Status Desc  \
0                          VEHICLE - STOLEN  ...     AA  Adult Arrest
1                     BURGLARY FROM VEHICLE  ...     IC   Invest Cont
2                             BIKE - STOLEN  ...     IC   Invest Cont
3  SHOPLIFTING-GRAND THEFT ($950.01 & OVER)  ...     IC   Invest Cont
4                         THEFT OF IDENTITY  ...     IC   Invest Cont

  Crm Cd 1 Crm Cd 2  Crm Cd 3 Crm Cd 4  \
0    510.0    998.0       NaN      NaN
1    330.0    998.0       NaN      NaN
2    480.0      NaN       NaN      NaN
3    343.0      NaN       NaN      NaN
4    354.0      NaN       NaN      NaN

                                   LOCATION Cross Street      LAT       LON
0   1900 S  LONGWOOD                     AV         None  34.0375 -118.3506
1   1000 S  FLOWER                       ST         None  34.0444 -118.2628
2   1400 W  37TH                         ST         None  34.0210 -118.3002
3  14000    RIVERSIDE                    DR         None  34.1576 -118.4387
4                         1900    TRANSIENT         None  34.0944 -118.3277

[5 rows x 28 columns]

In [11]:
# Increase Spark memory limit
spark = SparkSession.builder \
    .appName("Pandas to PySpark") \
    .config("spark.driver.memory", "4g") \
    .config("spark.sql.legacy.timeParserPolicy", "LEGACY") \
    .getOrCreate()

In [12]:
# Convert the pandas DataFrame to a PySpark DataFrame
spark_df = spark.createDataFrame(df)

In [13]:
spark_df.show(4)

+--------+--------------------+--------------------+--------+----+---------+-----------+--------+------+--------------------+--------------+--------+--------+------------+---------+--------------------+--------------+-----------+------+------------+--------+--------+--------+--------+--------------------+--------------------+-------+---------+
|   DR_NO|           Date Rptd|            DATE OCC|TIME OCC|AREA|AREA NAME|Rpt Dist No|Part 1-2|Crm Cd|         Crm Cd Desc|       Mocodes|Vict Age|Vict Sex|Vict Descent|Premis Cd|         Premis Desc|Weapon Used Cd|Weapon Desc|Status| Status Desc|Crm Cd 1|Crm Cd 2|Crm Cd 3|Crm Cd 4|            LOCATION|        Cross Street|    LAT|      LON|
+--------+--------------------+--------------------+--------+----+---------+-----------+--------+------+--------------------+--------------+--------+--------+------------+---------+--------------------+--------------+-----------+------+------------+--------+--------+--------+--------+--------------------+--------------------+-------+---------+
| 1307355|02/20/2010 12:00:...|02/20/2010 12:00:...|    1350|  13|   Newton|       1385|       2|   900|VIOLATION OF COUR...|0913 1814 2000|      48|       M|           H|    501.0|SINGLE FAMILY DWE...|           NaN|       NULL|    AA|Adult Arrest|   900.0|     NaN|     NaN|     NaN|300 E  GAGE      ...|                NULL|33.9825|-118.2695|
|11401303|09/13/2010 12:00:...|09/12/2010 12:00:...|      45|  14|  Pacific|       1485|       2|   740|VANDALISM - FELON...|          0329|       0|       M|           W|    101.0|              STREET|           NaN|       NULL|    IC| Invest Cont|   740.0|     NaN|     NaN|     NaN|SEPULVEDA        ...|MANCHESTER       ...|33.9599|-118.3962|
|70309629|08/09/2010 12:00:...|08/09/2010 12:00:...|    1515|  13|   Newton|       1324|       2|   946|OTHER MISCELLANEO...|          0344|       0|       M|           H|    103.0|               ALLEY|           NaN|       NULL|    IC| Invest Cont|   946.0|     NaN|     NaN|     NaN|1300 E  21ST     ...|                NULL|34.0224|-118.2524|
|90631215|01/05/2010 12:00:...|01/05/2010 12:00:...|     150|   6|Hollywood|        646|       2|   900|VIOLATION OF COUR...|1100 0400 1402|      47|       F|           W|    101.0|              STREET|         102.0|   HAND GUN|    IC| Invest Cont|   900.0|   998.0|     NaN|     NaN|CAHUENGA         ...|HOLLYWOOD        ...|34.1016|-118.3295|
+--------+--------------------+--------------------+--------+----+---------+-----------+--------+------+--------------------+--------------+--------+--------+------------+---------+--------------------+--------------+-----------+------+------------+--------+--------+--------+--------+--------------------+--------------------+-------+---------+
only showing top 4 rows

In [14]:
# Convert the pandas DataFrame to a PySpark DataFrame for df1
spark_df_1 = spark.createDataFrame(df1)

In [15]:
spark_df_1.show(4)

+---------+--------------------+--------------------+--------+----+---------+-----------+--------+------+--------------------+--------------+--------+--------+------------+---------+--------------------+--------------+-----------+------+------------+--------+--------+--------+--------+--------------------+------------+-------+---------+
|    DR_NO|           Date Rptd|            DATE OCC|TIME OCC|AREA|AREA NAME|Rpt Dist No|Part 1-2|Crm Cd|         Crm Cd Desc|       Mocodes|Vict Age|Vict Sex|Vict Descent|Premis Cd|         Premis Desc|Weapon Used Cd|Weapon Desc|Status| Status Desc|Crm Cd 1|Crm Cd 2|Crm Cd 3|Crm Cd 4|            LOCATION|Cross Street|    LAT|      LON|
+---------+--------------------+--------------------+--------+----+---------+-----------+--------+------+--------------------+--------------+--------+--------+------------+---------+--------------------+--------------+-----------+------+------------+--------+--------+--------+--------+--------------------+------------+-------+---------+
|190326475|03/01/2020 12:00:...|03/01/2020 12:00:...|    2130|   7| Wilshire|        784|       1|   510|    VEHICLE - STOLEN|          NULL|       0|       M|           O|    101.0|              STREET|           NaN|       NULL|    AA|Adult Arrest|   510.0|   998.0|     NaN|     NaN|1900 S  LONGWOOD ...|        NULL|34.0375|-118.3506|
|200106753|02/09/2020 12:00:...|02/08/2020 12:00:...|    1800|   1|  Central|        182|       1|   330|BURGLARY FROM VEH...|1822 1402 0344|      47|       M|           O|    128.0|BUS STOP/LAYOVER ...|           NaN|       NULL|    IC| Invest Cont|   330.0|   998.0|     NaN|     NaN|1000 S  FLOWER   ...|        NULL|34.0444|-118.2628|
|200320258|11/11/2020 12:00:...|11/04/2020 12:00:...|    1700|   3|Southwest|        356|       1|   480|       BIKE - STOLEN|     0344 1251|      19|       X|           X|    502.0|MULTI-UNIT DWELLI...|           NaN|       NULL|    IC| Invest Cont|   480.0|     NaN|     NaN|     NaN|1400 W  37TH     ...|        NULL| 34.021|-118.3002|
|200907217|05/10/2023 12:00:...|03/10/2020 12:00:...|    2037|   9| Van Nuys|        964|       1|   343|SHOPLIFTING-GRAND...|     0325 1501|      19|       M|           O|    405.0|      CLOTHING STORE|           NaN|       NULL|    IC| Invest Cont|   343.0|     NaN|     NaN|     NaN|14000    RIVERSID...|        NULL|34.1576|-118.4387|
+---------+--------------------+--------------------+--------+----+---------+-----------+--------+------+--------------------+--------------+--------+--------+------------+---------+--------------------+--------------+-----------+------+------------+--------+--------+--------+--------+--------------------+------------+-------+---------+
only showing top 4 rows

In [53]:
# Combine (union) the two Spark DataFrames
combined_crime_data = spark_df.union(spark_df_1)

In [54]:
print(combined_crime_data.show(4))

+--------+--------------------+--------------------+--------+----+---------+-----------+--------+------+--------------------+--------------+--------+--------+------------+---------+--------------------+--------------+-----------+------+------------+--------+--------+--------+--------+--------------------+--------------------+-------+---------+
|   DR_NO|           Date Rptd|            DATE OCC|TIME OCC|AREA|AREA NAME|Rpt Dist No|Part 1-2|Crm Cd|         Crm Cd Desc|       Mocodes|Vict Age|Vict Sex|Vict Descent|Premis Cd|         Premis Desc|Weapon Used Cd|Weapon Desc|Status| Status Desc|Crm Cd 1|Crm Cd 2|Crm Cd 3|Crm Cd 4|            LOCATION|        Cross Street|    LAT|      LON|
+--------+--------------------+--------------------+--------+----+---------+-----------+--------+------+--------------------+--------------+--------+--------+------------+---------+--------------------+--------------+-----------+------+------------+--------+--------+--------+--------+--------------------+--------------------+-------+---------+
| 1307355|02/20/2010 12:00:...|02/20/2010 12:00:...|    1350|  13|   Newton|       1385|       2|   900|VIOLATION OF COUR...|0913 1814 2000|      48|       M|           H|    501.0|SINGLE FAMILY DWE...|           NaN|       NULL|    AA|Adult Arrest|   900.0|     NaN|     NaN|     NaN|300 E  GAGE      ...|                NULL|33.9825|-118.2695|
|11401303|09/13/2010 12:00:...|09/12/2010 12:00:...|      45|  14|  Pacific|       1485|       2|   740|VANDALISM - FELON...|          0329|       0|       M|           W|    101.0|              STREET|           NaN|       NULL|    IC| Invest Cont|   740.0|     NaN|     NaN|     NaN|SEPULVEDA        ...|MANCHESTER       ...|33.9599|-118.3962|
|70309629|08/09/2010 12:00:...|08/09/2010 12:00:...|    1515|  13|   Newton|       1324|       2|   946|OTHER MISCELLANEO...|          0344|       0|       M|           H|    103.0|               ALLEY|           NaN|       NULL|    IC| Invest Cont|   946.0|     NaN|     NaN|     NaN|1300 E  21ST     ...|                NULL|34.0224|-118.2524|
|90631215|01/05/2010 12:00:...|01/05/2010 12:00:...|     150|   6|Hollywood|        646|       2|   900|VIOLATION OF COUR...|1100 0400 1402|      47|       F|           W|    101.0|              STREET|         102.0|   HAND GUN|    IC| Invest Cont|   900.0|   998.0|     NaN|     NaN|CAHUENGA         ...|HOLLYWOOD        ...|34.1016|-118.3295|
+--------+--------------------+--------------------+--------+----+---------+-----------+--------+------+--------------------+--------------+--------+--------+------------+---------+--------------------+--------------+-----------+------+------------+--------+--------+--------+--------+--------------------+--------------------+-------+---------+
only showing top 4 rows

None

In [55]:
# Function to clean address columns
def clean_address(df, column_name):
    # Escape the column name with ` (backtick) to handle spaces
    cleaned_column_name = f"`{column_name}`"
    return df.withColumn(column_name, when(col(column_name).isNotNull(), expr(f"trim(regexp_replace({cleaned_column_name}, '\\s+', ' '))")).otherwise(col(column_name)))

# Clean LOCATION and Cross Street columns
combined_crime_data = clean_address(combined_crime_data, 'LOCATION')
combined_crime_data = clean_address(combined_crime_data, 'Cross Street')

# Drop specified columns
columns_to_drop = ['Part 1-2', 'Mocodes', 'Crm Cd 1', 'Crm Cd 2', 'Crm Cd 3', 'Crm Cd 4']
combined_crime_data = combined_crime_data.drop(*columns_to_drop)

# Convert 'Weapon Used Cd' and 'Weapon Desc' columns to string, then strip whitespace and replace empty strings with NaN
combined_crime_data = combined_crime_data.withColumn('Weapon Used Cd', trim(col('Weapon Used Cd').cast('string'))) \
                                         .withColumn('Weapon Used Cd', when(col('Weapon Used Cd') == '', None).otherwise(col('Weapon Used Cd')))

combined_crime_data = combined_crime_data.withColumn('Weapon Desc', trim(col('Weapon Desc').cast('string'))) \
                                         .withColumn('Weapon Desc', when(col('Weapon Desc') == '', None).otherwise(col('Weapon Desc')))

# Replace null values in the 'Date Rptd' column with NaN
combined_crime_data = combined_crime_data.na.fill({"Date Rptd": "NaN"})

# Transform the 'Date Rptd' column to remove the time part
combined_crime_data = combined_crime_data.withColumn(
    "Date Rptd",
    regexp_replace("Date Rptd", r"\s\d{2}:\d{2}:\d{2}\s[APM]{2}", "")
)

# Replace null values in the 'DATE OCC' column with NaN
combined_crime_data = combined_crime_data.na.fill({"DATE OCC": "NaN"})

# Transform the 'DATE OCC' column to remove the time part
combined_crime_data = combined_crime_data.withColumn(
    "DATE OCC",
    regexp_replace("DATE OCC", r"\s\d{2}:\d{2}:\d{2}\s[APM]{2}", "")
)

# Print schema and show top 5 rows
print("Schema after cleaning:")
combined_crime_data.printSchema()
print("Top 5 rows after cleaning:")
combined_crime_data.show(5)

Schema after cleaning:
root
 |-- DR_NO: long (nullable = true)
 |-- Date Rptd: string (nullable = false)
 |-- DATE OCC: string (nullable = false)
 |-- TIME OCC: long (nullable = true)
 |-- AREA: long (nullable = true)
 |-- AREA NAME: string (nullable = true)
 |-- Rpt Dist No: long (nullable = true)
 |-- Crm Cd: long (nullable = true)
 |-- Crm Cd Desc: string (nullable = true)
 |-- Vict Age: long (nullable = true)
 |-- Vict Sex: string (nullable = true)
 |-- Vict Descent: string (nullable = true)
 |-- Premis Cd: double (nullable = true)
 |-- Premis Desc: string (nullable = true)
 |-- Weapon Used Cd: string (nullable = true)
 |-- Weapon Desc: string (nullable = true)
 |-- Status: string (nullable = true)
 |-- Status Desc: string (nullable = true)
 |-- LOCATION: string (nullable = true)
 |-- Cross Street: string (nullable = true)
 |-- LAT: double (nullable = true)
 |-- LON: double (nullable = true)

Top 5 rows after cleaning:
+---------+----------+----------+--------+----+---------+-----------+------+--------------------+--------+--------+------------+---------+--------------------+--------------+--------------------+------+------------+--------------------+--------------------+-------+---------+
|    DR_NO| Date Rptd|  DATE OCC|TIME OCC|AREA|AREA NAME|Rpt Dist No|Crm Cd|         Crm Cd Desc|Vict Age|Vict Sex|Vict Descent|Premis Cd|         Premis Desc|Weapon Used Cd|         Weapon Desc|Status| Status Desc|            LOCATION|        Cross Street|    LAT|      LON|
+---------+----------+----------+--------+----+---------+-----------+------+--------------------+--------+--------+------------+---------+--------------------+--------------+--------------------+------+------------+--------------------+--------------------+-------+---------+
|  1307355|02/20/2010|02/20/2010|    1350|  13|   Newton|       1385|   900|VIOLATION OF COUR...|      48|       M|           H|    501.0|SINGLE FAMILY DWE...|           NaN|                NULL|    AA|Adult Arrest|300 E  GAGE      ...|                NULL|33.9825|-118.2695|
| 11401303|09/13/2010|09/12/2010|      45|  14|  Pacific|       1485|   740|VANDALISM - FELON...|       0|       M|           W|    101.0|              STREET|           NaN|                NULL|    IC| Invest Cont|SEPULVEDA        ...|MANCHESTER       ...|33.9599|-118.3962|
| 70309629|08/09/2010|08/09/2010|    1515|  13|   Newton|       1324|   946|OTHER MISCELLANEO...|       0|       M|           H|    103.0|               ALLEY|           NaN|                NULL|    IC| Invest Cont|1300 E  21ST     ...|                NULL|34.0224|-118.2524|
| 90631215|01/05/2010|01/05/2010|     150|   6|Hollywood|        646|   900|VIOLATION OF COUR...|      47|       F|           W|    101.0|              STREET|         102.0|            HAND GUN|    IC| Invest Cont|CAHUENGA         ...|HOLLYWOOD        ...|34.1016|-118.3295|
|100100501|01/03/2010|01/02/2010|    2100|   1|  Central|        176|   122|     RAPE, ATTEMPTED|      47|       F|           H|    103.0|               ALLEY|         400.0|STRONG-ARM (HANDS...|    IC| Invest Cont|8TH              ...|SAN PEDRO        ...|34.0387|-118.2488|
+---------+----------+----------+--------+----+---------+-----------+------+--------------------+--------+--------+------------+---------+--------------------+--------------+--------------------+------+------------+--------------------+--------------------+-------+---------+
only showing top 5 rows

In [56]:
# Define the output path where you want to save the CSV file locally
output_path = r"C:\Users\16395\Downloads\final project\bigdatasource\LAPD\pgadmin_pyspark_transformation\output.csv"

In [59]:
# Reduce the number of partitions to 1 to create a single CSV file
combined_crime_data = combined_crime_data.coalesce(1)

In [61]:
# Save the DataFrame to a single CSV file on your local machine
combined_crime_data.write.csv(output_path, mode="overwrite", header=True)