In [37]:
!pip install sqlalchemy pandas pyodbc

Requirement already satisfied: sqlalchemy in c:\programdata\anaconda3\lib\site-packages (2.0.30)
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: pyodbc in c:\programdata\anaconda3\lib\site-packages (5.0.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy) (4.10.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Requirement already satisfied: numpy>=1.23.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [38]:
import pandas as pd
from sqlalchemy import create_engine
import pyodbc
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, to_timestamp, year, month, udf,to_date, when
from pyspark.sql.types import DoubleType, StringType

In [39]:
conn=pyodbc.connect('Driver={SQL Server};'
  'Server=DESKTOP-T08SBLB\SQLEXPRESS;'
  'Database=LAPD;'
  'Trusted_Connection=yes;')

In [40]:
if conn:
    print('Connection Successful')
else:
    print('Connection Failed')

Connection Successful

In [41]:
query='''SELECT
    TABLE_SCHEMA,
    TABLE_NAME,
    COLUMN_NAME,
    DATA_TYPE,
    IS_NULLABLE,
    CHARACTER_MAXIMUM_LENGTH
FROM
    INFORMATION_SCHEMA.COLUMNS
WHERE
    TABLE_CATALOG = 'LAPD'
ORDER BY
    TABLE_SCHEMA,
    TABLE_NAME,
    ORDINAL_POSITION;
'''

In [42]:
cursor = conn.cursor()
cursor.execute(query)
for row in cursor:
    print(row)

('dbo', 'Arrest_Data_from_2010_to_2019', 'Report ID', 'varchar', 'YES', 50)
('dbo', 'Arrest_Data_from_2010_to_2019', 'Report Type', 'varchar', 'YES', 50)
('dbo', 'Arrest_Data_from_2010_to_2019', 'Arrest Date', 'varchar', 'YES', 50)
('dbo', 'Arrest_Data_from_2010_to_2019', 'Time', 'varchar', 'YES', 50)
('dbo', 'Arrest_Data_from_2010_to_2019', 'Area ID', 'varchar', 'YES', 50)
('dbo', 'Arrest_Data_from_2010_to_2019', 'Area Name', 'varchar', 'YES', 50)
('dbo', 'Arrest_Data_from_2010_to_2019', 'Reporting District', 'varchar', 'YES', 50)
('dbo', 'Arrest_Data_from_2010_to_2019', 'Age', 'varchar', 'YES', 50)
('dbo', 'Arrest_Data_from_2010_to_2019', 'Sex Code', 'varchar', 'YES', 50)
('dbo', 'Arrest_Data_from_2010_to_2019', 'Descent Code', 'varchar', 'YES', 50)
('dbo', 'Arrest_Data_from_2010_to_2019', 'Charge Group Code', 'varchar', 'YES', 50)
('dbo', 'Arrest_Data_from_2010_to_2019', 'Charge Group Description', 'varchar', 'YES', 50)
('dbo', 'Arrest_Data_from_2010_to_2019', 'Arrest Type Code', 'varchar', 'YES', 50)
('dbo', 'Arrest_Data_from_2010_to_2019', 'Charge', 'varchar', 'YES', 50)
('dbo', 'Arrest_Data_from_2010_to_2019', 'Charge Description', 'varchar', 'YES', 50)
('dbo', 'Arrest_Data_from_2010_to_2019', 'Disposition Description', 'varchar', 'YES', 50)
('dbo', 'Arrest_Data_from_2010_to_2019', 'Address', 'varchar', 'YES', 50)
('dbo', 'Arrest_Data_from_2010_to_2019', 'Cross Street', 'varchar', 'YES', 50)
('dbo', 'Arrest_Data_from_2010_to_2019', 'LAT', 'varchar', 'YES', 50)
('dbo', 'Arrest_Data_from_2010_to_2019', 'LON', 'varchar', 'YES', 50)
('dbo', 'Arrest_Data_from_2010_to_2019', 'Location', 'varchar', 'YES', 50)
('dbo', 'Arrest_Data_from_2010_to_2019', 'Booking Date', 'varchar', 'YES', 50)
('dbo', 'Arrest_Data_from_2010_to_2019', 'Booking Time', 'varchar', 'YES', 50)
('dbo', 'Arrest_Data_from_2010_to_2019', 'Booking Location', 'varchar', 'YES', 50)
('dbo', 'Arrest_Data_from_2010_to_2019', 'Booking Location Code', 'varchar', 'YES', 50)
('dbo', 'Arrest_Data_from_2020_to_Present', 'Report ID', 'varchar', 'YES', 50)
('dbo', 'Arrest_Data_from_2020_to_Present', 'Report Type', 'varchar', 'YES', 50)
('dbo', 'Arrest_Data_from_2020_to_Present', 'Arrest Date', 'varchar', 'YES', 50)
('dbo', 'Arrest_Data_from_2020_to_Present', 'Time', 'varchar', 'YES', 50)
('dbo', 'Arrest_Data_from_2020_to_Present', 'Area ID', 'varchar', 'YES', 50)
('dbo', 'Arrest_Data_from_2020_to_Present', 'Area Name', 'varchar', 'YES', 50)
('dbo', 'Arrest_Data_from_2020_to_Present', 'Reporting District', 'varchar', 'YES', 50)
('dbo', 'Arrest_Data_from_2020_to_Present', 'Age', 'varchar', 'YES', 50)
('dbo', 'Arrest_Data_from_2020_to_Present', 'Sex Code', 'varchar', 'YES', 50)
('dbo', 'Arrest_Data_from_2020_to_Present', 'Descent Code', 'varchar', 'YES', 50)
('dbo', 'Arrest_Data_from_2020_to_Present', 'Charge Group Code', 'varchar', 'YES', 50)
('dbo', 'Arrest_Data_from_2020_to_Present', 'Charge Group Description', 'varchar', 'YES', 50)
('dbo', 'Arrest_Data_from_2020_to_Present', 'Arrest Type Code', 'varchar', 'YES', 50)
('dbo', 'Arrest_Data_from_2020_to_Present', 'Charge', 'varchar', 'YES', 50)
('dbo', 'Arrest_Data_from_2020_to_Present', 'Charge Description', 'varchar', 'YES', 50)
('dbo', 'Arrest_Data_from_2020_to_Present', 'Disposition Description', 'varchar', 'YES', 50)
('dbo', 'Arrest_Data_from_2020_to_Present', 'Address', 'varchar', 'YES', 50)
('dbo', 'Arrest_Data_from_2020_to_Present', 'Cross Street', 'varchar', 'YES', 50)
('dbo', 'Arrest_Data_from_2020_to_Present', 'LAT', 'varchar', 'YES', 50)
('dbo', 'Arrest_Data_from_2020_to_Present', 'LON', 'varchar', 'YES', 50)
('dbo', 'Arrest_Data_from_2020_to_Present', 'Location', 'varchar', 'YES', 50)
('dbo', 'Arrest_Data_from_2020_to_Present', 'Booking Date', 'varchar', 'YES', 50)
('dbo', 'Arrest_Data_from_2020_to_Present', 'Booking Time', 'varchar', 'YES', 50)
('dbo', 'Arrest_Data_from_2020_to_Present', 'Booking Location', 'varchar', 'YES', 50)
('dbo', 'Arrest_Data_from_2020_to_Present', 'Booking Location Code', 'varchar', 'YES', 50)

In [43]:
# Define queries
query_1 = 'SELECT * FROM [dbo].[Arrest_Data_from_2010_to_2019];'
query_2 = 'SELECT * FROM [dbo].[Arrest_Data_from_2020_to_Present];'

In [44]:
# Execute query_1 and store results in a DataFrame
df_2010_to_2019 = pd.read_sql_query(query_1, conn)

C:\Users\16395\AppData\Local\Temp\ipykernel_15196\2029849224.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_2010_to_2019 = pd.read_sql_query(query_1, conn)

In [45]:
# Display sample data from each DataFrame
print("Sample data from Arrest_Data_from_2010_to_2019:")
print(df_2010_to_2019.head())

Sample data from Arrest_Data_from_2010_to_2019:
   Report ID Report Type Arrest Date  Time Area ID  Area Name  \
0  100629383         RFC  12/09/2010  1945      06  Hollywood
1  100629384         RFC  12/09/2010  1845      06  Hollywood
2  100629386         RFC  12/09/2010  1845      06  Hollywood
3  100629387         RFC  12/09/2010  2355      06  Hollywood
4  100629388         RFC  12/09/2010  2335      06  Hollywood

  Reporting District Age Sex Code Descent Code  ...  \
0               0647  20        M            H  ...
1               0648  20        M            H  ...
2               0648  18        M            H  ...
3               0665  21        F            H  ...
4               0637  19        M            H  ...

       Disposition Description                                  Address  \
0  MISDEMEANOR COMPLAINT FILED          GORDON                       ST
1  MISDEMEANOR COMPLAINT FILED          CARLTON                      WY
2  MISDEMEANOR COMPLAINT FILED          CARLTON                      WY
3  MISDEMEANOR COMPLAINT FILED                               LAS PALMAS
4  MISDEMEANOR COMPLAINT FILED  1700    VINE                         ST

                      Cross Street      LAT        LON  \
0  SUNSET                       BL  34.0981  -118.3196
1  WESTERN                      AV  34.1005  -118.3093
2  WESTERN                      AV  34.1005  -118.3093
3                     SANTA MONICA  34.0907  -118.3363
4                                   34.1016  -118.3267

                    Location Booking Date Booking Time Booking Location  \
0  POINT (-118.3196 34.0981)
1  POINT (-118.3093 34.1005)
2  POINT (-118.3093 34.1005)
3  POINT (-118.3363 34.0907)
4  POINT (-118.3267 34.1016)

  Booking Location Code
0
1
2
3
4

[5 rows x 25 columns]

In [46]:
# Execute query_2 and store results in a DataFrame
df_2020_to_present = pd.read_sql_query(query_2, conn)

C:\Users\16395\AppData\Local\Temp\ipykernel_15196\1424259808.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_2020_to_present = pd.read_sql_query(query_2, conn)

In [47]:
print("\nSample data from Arrest_Data_from_2020_to_Present:")
print(df_2020_to_present.head())

Sample data from Arrest_Data_from_2020_to_Present:
  Report ID Report Type             Arrest Date  Time Area ID    Area Name  \
0   6636966     BOOKING  07/06/2023 12:00:00 AM  2250      08      West LA
1   6637119     BOOKING  07/07/2023 12:00:00 AM  1000      03    Southwest
2   6624479     BOOKING  06/15/2023 12:00:00 AM  1850      07     Wilshire
3   6636128     BOOKING  07/05/2023 12:00:00 AM  1550      02      Rampart
4   6636650     BOOKING  07/06/2023 12:00:00 AM  1335      12  77th Street

  Reporting District Age Sex Code Descent Code  ...  \
0               0817  46        M            B  ...
1               0396  39        M            B  ...
2               0724  33        F            H  ...
3               0218  30        F            B  ...
4               1258  31        M            H  ...

       Disposition Description                                  Address  \
0                  NOT FIREARM                                   W/GBI"
1  MISDEMEANOR COMPLAINT FILED          40TH                         PL
2  MISDEMEANOR COMPLAINT FILED   100    THE GROVE                    DR
3  MISDEMEANOR COMPLAINT FILED  1000    ECHO PARK                    AV
4                                                      7800 S  BROADWAY

                  Cross Street                                     LAT  \
0  MISDEMEANOR COMPLAINT FILED  900    GAYLEY                       AV
1                      VERMONT                                   34.01
2                                                              34.0736
3                                                              34.0741
4                                                              33.9689

         LON                   Location            Booking Date  \
0                               34.0637               -118.4482
1  -118.2915    POINT (-118.2915 34.01)  07/07/2023 12:00:00 AM
2  -118.3563  POINT (-118.3563 34.0736)  06/15/2023 12:00:00 AM
3   -118.259   POINT (-118.259 34.0741)  07/05/2023 12:00:00 AM
4  -118.2783  POINT (-118.2783 33.9689)  07/06/2023 12:00:00 AM

                Booking Time        Booking Location  \
0  POINT (-118.4482 34.0637)  07/07/2023 12:00:00 AM
1                       1156                 77TH ST
2                       2251                 77TH ST
3                       1940   METRO - JAIL DIVISION
4                       1345                 77TH ST

             Booking Location Code
0  0143,METRO - JAIL DIVISION,4273
1                             4212
2                             4212
3                             4273
4                             4212

[5 rows x 25 columns]

In [48]:
# Increase Spark memory limit
spark = SparkSession.builder \
    .appName("Pandas to PySpark") \
    .config("spark.driver.memory", "4g") \
    .config("spark.sql.legacy.timeParserPolicy", "LEGACY") \
    .getOrCreate()

In [49]:
# Convert the pandas DataFrame to a PySpark DataFrame
spark_df_2010_to_2019 = spark.createDataFrame(df_2010_to_2019)

In [50]:
# Convert the pandas DataFrame to a PySpark DataFrame for df1
spark_df_2020_to_present = spark.createDataFrame(df_2020_to_present)

In [51]:
# Union the PySpark DataFrames
combined_arrest_data = spark_df_2010_to_2019.union(spark_df_2020_to_present)

In [52]:
combined_arrest_data.show(5)

+---------+-----------+-----------+----+-------+---------+------------------+---+--------+------------+-----------------+------------------------+----------------+----------+------------------+-----------------------+--------------------+--------------------+-------+---------+--------------------+------------+------------+----------------+---------------------+
|Report ID|Report Type|Arrest Date|Time|Area ID|Area Name|Reporting District|Age|Sex Code|Descent Code|Charge Group Code|Charge Group Description|Arrest Type Code|    Charge|Charge Description|Disposition Description|             Address|        Cross Street|    LAT|      LON|            Location|Booking Date|Booking Time|Booking Location|Booking Location Code|
+---------+-----------+-----------+----+-------+---------+------------------+---+--------+------------+-----------------+------------------------+----------------+----------+------------------+-----------------------+--------------------+--------------------+-------+---------+--------------------+------------+------------+----------------+---------------------+
|100629383|        RFC| 12/09/2010|1945|     06|Hollywood|              0647| 20|       M|           H|               18|              Drunkeness|               M|41.27CLAMC|DRINKING IN PUBLIC|   MISDEMEANOR COMPL...|GORDON           ...|SUNSET           ...|34.0981|-118.3196|POINT (-118.3196 ...|            |            |                |                     |
|100629384|        RFC| 12/09/2010|1845|     06|Hollywood|              0648| 20|       M|           H|               18|              Drunkeness|               M|41.27CLAMC|DRINKING IN PUBLIC|   MISDEMEANOR COMPL...|CARLTON          ...|WESTERN          ...|34.1005|-118.3093|POINT (-118.3093 ...|            |            |                |                     |
|100629386|        RFC| 12/09/2010|1845|     06|Hollywood|              0648| 18|       M|           H|               18|              Drunkeness|               M|41.27CLAMC|DRINKING IN PUBLIC|   MISDEMEANOR COMPL...|CARLTON          ...|WESTERN          ...|34.1005|-118.3093|POINT (-118.3093 ...|            |            |                |                     |
|100629387|        RFC| 12/09/2010|2355|     06|Hollywood|              0665| 21|       F|           H|               18|              Drunkeness|               M|41.27CLAMC|DRINKING IN PUBLIC|   MISDEMEANOR COMPL...|          LAS PALMAS|        SANTA MONICA|34.0907|-118.3363|POINT (-118.3363 ...|            |            |                |                     |
|100629388|        RFC| 12/09/2010|2335|     06|Hollywood|              0637| 19|       M|           H|               18|              Drunkeness|               M|41.27CLAMC|DRINKING IN PUBLIC|   MISDEMEANOR COMPL...|1700    VINE     ...|                    |34.1016|-118.3267|POINT (-118.3267 ...|            |            |                |                     |
+---------+-----------+-----------+----+-------+---------+------------------+---+--------+------------+-----------------+------------------------+----------------+----------+------------------+-----------------------+--------------------+--------------------+-------+---------+--------------------+------------+------------+----------------+---------------------+
only showing top 5 rows

In [53]:
combined_arrest_data = combined_arrest_data.filter(col('Arrest Date').isNotNull())

In [54]:
# Extract Latitude and Longitude from 'Location'
def extract_latitude(location):
    try:
        return float(location.split()[1][1:])
    except Exception as e:
        print(f"Error extracting latitude: {e}")
        return None

def extract_longitude(location):
    try:
        return float(location.split()[2][:-1])
    except Exception as e:
        print(f"Error extracting longitude: {e}")
        return None

In [55]:
latitude_udf = udf(extract_latitude, DoubleType())
longitude_udf = udf(extract_longitude, DoubleType())

combined_arrest_data = combined_arrest_data.withColumn('Latitude', latitude_udf(col('Location')))
combined_arrest_data = combined_arrest_data.withColumn('Longitude', longitude_udf(col('Location')))

In [56]:
# Function to clean address
def clean_address(address):
    if address:
        return ' '.join(address.split())
    return address

clean_address_udf = udf(clean_address, StringType())

In [57]:
# Apply the cleaning function to the Address and Cross Street columns
combined_arrest_data = combined_arrest_data.withColumn('Address', clean_address_udf(col('Address')))
combined_arrest_data = combined_arrest_data.withColumn('Cross Street', clean_address_udf(col('Cross Street')))

In [58]:
# Drop specified columns
columns_to_drop = [
    'Descent Code', 'Charge Group Code', 'Charge Group Description',
    'Disposition Description', 'Booking Date', 'Booking Time',
    'Booking Location', 'Booking Location Code'
]
combined_arrest_data = combined_arrest_data.drop(*columns_to_drop)

In [59]:
# Fill missing values in 'Charge Description, cross street'
combined_arrest_data = combined_arrest_data.withColumn('Charge Description', when(col('Charge Description').isNull(), 'Unknown').otherwise(col('Charge Description')))

In [60]:
combined_arrest_data = combined_arrest_data.withColumn('Cross Street', when(col('Cross Street').isNull(), 'NAN').otherwise(col('Cross Street')))
# Fill missing values with an empty string
combined_arrest_data = combined_arrest_data.na.fill('NAN')

In [61]:
# Show some results to verify final DataFrame
combined_arrest_data.show(5)

+---------+-----------+-----------+----+-------+---------+------------------+---+--------+----------------+----------+------------------+------------+------------+-------+---------+--------------------+---------+---------+
|Report ID|Report Type|Arrest Date|Time|Area ID|Area Name|Reporting District|Age|Sex Code|Arrest Type Code|    Charge|Charge Description|     Address|Cross Street|    LAT|      LON|            Location| Latitude|Longitude|
+---------+-----------+-----------+----+-------+---------+------------------+---+--------+----------------+----------+------------------+------------+------------+-------+---------+--------------------+---------+---------+
|100629383|        RFC| 12/09/2010|1945|     06|Hollywood|              0647| 20|       M|               M|41.27CLAMC|DRINKING IN PUBLIC|   GORDON ST|   SUNSET BL|34.0981|-118.3196|POINT (-118.3196 ...|-118.3196|  34.0981|
|100629384|        RFC| 12/09/2010|1845|     06|Hollywood|              0648| 20|       M|               M|41.27CLAMC|DRINKING IN PUBLIC|  CARLTON WY|  WESTERN AV|34.1005|-118.3093|POINT (-118.3093 ...|-118.3093|  34.1005|
|100629386|        RFC| 12/09/2010|1845|     06|Hollywood|              0648| 18|       M|               M|41.27CLAMC|DRINKING IN PUBLIC|  CARLTON WY|  WESTERN AV|34.1005|-118.3093|POINT (-118.3093 ...|-118.3093|  34.1005|
|100629387|        RFC| 12/09/2010|2355|     06|Hollywood|              0665| 21|       F|               M|41.27CLAMC|DRINKING IN PUBLIC|  LAS PALMAS|SANTA MONICA|34.0907|-118.3363|POINT (-118.3363 ...|-118.3363|  34.0907|
|100629388|        RFC| 12/09/2010|2335|     06|Hollywood|              0637| 19|       M|               M|41.27CLAMC|DRINKING IN PUBLIC|1700 VINE ST|            |34.1016|-118.3267|POINT (-118.3267 ...|-118.3267|  34.1016|
+---------+-----------+-----------+----+-------+---------+------------------+---+--------+----------------+----------+------------------+------------+------------+-------+---------+--------------------+---------+---------+
only showing top 5 rows

In [62]:
from pyspark.sql.functions import regexp_replace
# Transform the 'Date Rptd' column to remove the time part
combined_arrest_data = combined_arrest_data.withColumn(
    "Arrest Date",
    regexp_replace("Arrest Date", r"\s\d{2}:\d{2}:\d{2}\s[APM]{2}", "")
)

In [66]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, regexp_replace

# Assuming you have already created your SparkSession and loaded your DataFrame 'df'

# Define patterns to replace
patterns_to_replace = r'["\\/]'

# Apply regexp_replace to filter out rows where any column value contains the specified patterns
filtered_df = combined_arrest_data.filter(
    ~col("Charge").rlike(patterns_to_replace)
    & ~col("Charge Description").rlike(patterns_to_replace)
    & ~col("Address").rlike(patterns_to_replace)
    & ~col("Cross Street").rlike(patterns_to_replace)
    & ~col("LAT").rlike(patterns_to_replace)
    & ~col("LON").rlike(patterns_to_replace)
    & ~col("Location").rlike(patterns_to_replace)
    & ~col("Latitude").rlike(patterns_to_replace)
    & ~col("Longitude").rlike(patterns_to_replace)
    # Add more columns as needed
)

# Show the filtered DataFrame
filtered_df.show()

+---------+-----------+-----------+----+-------+---------+------------------+---+--------+----------------+-----------+------------------+-----------------+------------+-------+---------+--------------------+---------+---------+
|Report ID|Report Type|Arrest Date|Time|Area ID|Area Name|Reporting District|Age|Sex Code|Arrest Type Code|     Charge|Charge Description|          Address|Cross Street|    LAT|      LON|            Location| Latitude|Longitude|
+---------+-----------+-----------+----+-------+---------+------------------+---+--------+----------------+-----------+------------------+-----------------+------------+-------+---------+--------------------+---------+---------+
|100629383|        RFC| 12/09/2010|1945|     06|Hollywood|              0647| 20|       M|               M| 41.27CLAMC|DRINKING IN PUBLIC|        GORDON ST|   SUNSET BL|34.0981|-118.3196|POINT (-118.3196 ...|-118.3196|  34.0981|
|100629384|        RFC| 12/09/2010|1845|     06|Hollywood|              0648| 20|       M|               M| 41.27CLAMC|DRINKING IN PUBLIC|       CARLTON WY|  WESTERN AV|34.1005|-118.3093|POINT (-118.3093 ...|-118.3093|  34.1005|
|100629386|        RFC| 12/09/2010|1845|     06|Hollywood|              0648| 18|       M|               M| 41.27CLAMC|DRINKING IN PUBLIC|       CARLTON WY|  WESTERN AV|34.1005|-118.3093|POINT (-118.3093 ...|-118.3093|  34.1005|
|100629387|        RFC| 12/09/2010|2355|     06|Hollywood|              0665| 21|       F|               M| 41.27CLAMC|DRINKING IN PUBLIC|       LAS PALMAS|SANTA MONICA|34.0907|-118.3363|POINT (-118.3363 ...|-118.3363|  34.0907|
|100629388|        RFC| 12/09/2010|2335|     06|Hollywood|              0637| 19|       M|               M| 41.27CLAMC|DRINKING IN PUBLIC|     1700 VINE ST|            |34.1016|-118.3267|POINT (-118.3267 ...|-118.3267|  34.1016|
|100629389|        RFC| 12/09/2010|2305|     06|Hollywood|              0647| 19|       M|               M| 41.27CLAMC|DRINKING IN PUBLIC|           ARGYLE|HOLLYWOOD BL|34.1016|-118.3252|POINT (-118.3252 ...|-118.3252|  34.1016|
|100629390|        RFC| 12/09/2010|2040|     06|Hollywood|              0665| 22|       M|               M| 41.27CLAMC|DRINKING IN PUBLIC|       LAS PALMAS|   LEXINGTON|34.0926|-118.3363|POINT (-118.3363 ...|-118.3363|  34.0926|
|121919465|        RFC| 09/08/2012|1705|     19|  Mission|              1985| 40|       M|               M| 25620(A)BP|                  |           TOBIAS|       CHASE|34.2248|-118.4516|POINT (-118.4516 ...|-118.4516|  34.2248|
|100629391|        RFC| 12/09/2010|2040|     06|Hollywood|              0665| 21|       F|               M| 41.27CLAMC|DRINKING IN PUBLIC|       LAS PALMAS|   LEXINGTON|34.0926|-118.3363|POINT (-118.3363 ...|-118.3363|  34.0926|
|100629392|        RFC| 12/09/2010|2040|     06|Hollywood|              0665| 23|       F|               M| 41.27CLAMC|DRINKING IN PUBLIC|       LAS PALMAS|   LEXINGTON|34.0926|-118.3363|POINT (-118.3363 ...|-118.3363|  34.0926|
|100629393|        RFC| 12/09/2010|1415|     06|Hollywood|              0666| 44|       M|               M| 41.27CLAMC|DRINKING IN PUBLIC| 6300 W SUNSET BL|            | 34.098|-118.3267|POINT (-118.3267 ...|-118.3267|   34.098|
|100629394|        RFC| 12/07/2010|1510|     06|Hollywood|              0647| 27|       M|               M| 41.27CLAMC|DRINKING IN PUBLIC|6200 HOLLYWOOD BL|            |34.1017|-118.3245|POINT (-118.3245 ...|-118.3245|  34.1017|
|122111568|        RFC| 06/07/2012|2030|     21|  Topanga|              2187| 50|       F|               M|103.205.1LA|                  | 21700 VENTURA BL|            |34.1683|-118.6007|POINT (-118.6007 ...|-118.6007|  34.1683|
|100629395|        RFC| 12/07/2010|1545|     06|Hollywood|              0646| 44|       M|               M| 41.27CLAMC|DRINKING IN PUBLIC| 6500 W SUNSET BL|            | 34.098|-118.3314|POINT (-118.3314 ...|-118.3314|   34.098|
|130215858|        RFC| 07/13/2013|1820|     02|  Rampart|              0275| 63|       F|               M| 25620(A)BP|                  |          11TH ST|      BEACON|34.0483|-118.2763|POINT (-118.2763 ...|-118.2763|  34.0483|
|100629396|        RFC| 12/08/2010|0840|     06|Hollywood|              0637| 50|       M|               M| 41.27CLAMC|DRINKING IN PUBLIC| 1700 N ARGYLE AV|            |34.1016|-118.3252|POINT (-118.3252 ...|-118.3252|  34.1016|
|100629399|        RFC| 12/08/2010|1425|     06|Hollywood|              0666| 67|       M|               M| 41.27CLAMC|DRINKING IN PUBLIC|          VINE ST|  DE LONGPRE|34.0962|-118.3267|POINT (-118.3267 ...|-118.3267|  34.0962|
|100629404|        RFC| 12/10/2010|0940|     06|Hollywood|              0637| 40|       M|               M| 41.27CLAMC|DRINKING IN PUBLIC|6000 HOLLYWOOD BL|            |34.1017|-118.3202|POINT (-118.3202 ...|-118.3202|  34.1017|
|100629405|        RFC| 12/08/2010|1715|     06|Hollywood|              0636| 22|       M|               M| 41.27CLAMC|DRINKING IN PUBLIC|   1700 WILCOX AV|            |34.1016| -118.331|POINT (-118.331 3...| -118.331|  34.1016|
|100629406|        RFC| 12/08/2010|1420|     06|Hollywood|              0645| 51|       M|               M| 41.27CLAMC|DRINKING IN PUBLIC|     HOLLYWOOD BL| HIGHLAND AV|34.1016|-118.3387|POINT (-118.3387 ...|-118.3387|  34.1016|
+---------+-----------+-----------+----+-------+---------+------------------+---+--------+----------------+-----------+------------------+-----------------+------------+-------+---------+--------------------+---------+---------+
only showing top 20 rows

In [68]:
# Filter out rows where all columns are null or empty
filtered_df = filtered_df.filter(
    ~(col("Report ID").isNull() | col("Charge").eqNullSafe(""))
    & ~(col("Report Type").isNull() | col("Charge Description").eqNullSafe(""))
    & ~(col("Arrest Date").isNull() | col("Charge Description").eqNullSafe(""))
    & ~(col("Time").isNull() | col("Charge Description").eqNullSafe(""))
    & ~(col("Area ID").isNull() | col("Charge Description").eqNullSafe(""))
    & ~(col("Area Name").isNull() | col("Charge Description").eqNullSafe(""))
    & ~(col("Reporting District").isNull() | col("Charge Description").eqNullSafe(""))
    & ~(col("Age").isNull() | col("Charge Description").eqNullSafe(""))
    & ~(col("Sex Code").isNull() | col("Charge Description").eqNullSafe(""))
    & ~(col("Arrest Type Code").isNull() | col("Charge Description").eqNullSafe(""))
    & ~(col("Charge").isNull() | col("Charge Description").eqNullSafe(""))
    & ~(col("Charge Description").isNull() | col("Charge Description").eqNullSafe(""))
    & ~(col("Address").isNull() | col("Address").eqNullSafe(""))
    & ~(col("Cross Street").isNull() | col("Cross Street").eqNullSafe(""))
    & ~(col("LAT").isNull() | col("LAT").eqNullSafe(""))
    & ~(col("LON").isNull() | col("LON").eqNullSafe(""))
    & ~(col("Location").isNull() | col("Location").eqNullSafe(""))
    & ~(col("Latitude").isNull() | col("Latitude").eqNullSafe(""))
    & ~(col("Longitude").isNull() | col("Longitude").eqNullSafe(""))
    # Add more columns as needed
)
# Show the filtered DataFrame
filtered_df.show()

+---------+-----------+-----------+----+-------+---------+------------------+---+--------+----------------+----------+------------------+------------+---------------+-------+---------+--------------------+---------+---------+
|Report ID|Report Type|Arrest Date|Time|Area ID|Area Name|Reporting District|Age|Sex Code|Arrest Type Code|    Charge|Charge Description|     Address|   Cross Street|    LAT|      LON|            Location| Latitude|Longitude|
+---------+-----------+-----------+----+-------+---------+------------------+---+--------+----------------+----------+------------------+------------+---------------+-------+---------+--------------------+---------+---------+
|100629383|        RFC| 12/09/2010|1945|     06|Hollywood|              0647| 20|       M|               M|41.27CLAMC|DRINKING IN PUBLIC|   GORDON ST|      SUNSET BL|34.0981|-118.3196|POINT (-118.3196 ...|-118.3196|  34.0981|
|100629384|        RFC| 12/09/2010|1845|     06|Hollywood|              0648| 20|       M|               M|41.27CLAMC|DRINKING IN PUBLIC|  CARLTON WY|     WESTERN AV|34.1005|-118.3093|POINT (-118.3093 ...|-118.3093|  34.1005|
|100629386|        RFC| 12/09/2010|1845|     06|Hollywood|              0648| 18|       M|               M|41.27CLAMC|DRINKING IN PUBLIC|  CARLTON WY|     WESTERN AV|34.1005|-118.3093|POINT (-118.3093 ...|-118.3093|  34.1005|
|100629387|        RFC| 12/09/2010|2355|     06|Hollywood|              0665| 21|       F|               M|41.27CLAMC|DRINKING IN PUBLIC|  LAS PALMAS|   SANTA MONICA|34.0907|-118.3363|POINT (-118.3363 ...|-118.3363|  34.0907|
|100629389|        RFC| 12/09/2010|2305|     06|Hollywood|              0647| 19|       M|               M|41.27CLAMC|DRINKING IN PUBLIC|      ARGYLE|   HOLLYWOOD BL|34.1016|-118.3252|POINT (-118.3252 ...|-118.3252|  34.1016|
|100629390|        RFC| 12/09/2010|2040|     06|Hollywood|              0665| 22|       M|               M|41.27CLAMC|DRINKING IN PUBLIC|  LAS PALMAS|      LEXINGTON|34.0926|-118.3363|POINT (-118.3363 ...|-118.3363|  34.0926|
|100629391|        RFC| 12/09/2010|2040|     06|Hollywood|              0665| 21|       F|               M|41.27CLAMC|DRINKING IN PUBLIC|  LAS PALMAS|      LEXINGTON|34.0926|-118.3363|POINT (-118.3363 ...|-118.3363|  34.0926|
|100629392|        RFC| 12/09/2010|2040|     06|Hollywood|              0665| 23|       F|               M|41.27CLAMC|DRINKING IN PUBLIC|  LAS PALMAS|      LEXINGTON|34.0926|-118.3363|POINT (-118.3363 ...|-118.3363|  34.0926|
|100629399|        RFC| 12/08/2010|1425|     06|Hollywood|              0666| 67|       M|               M|41.27CLAMC|DRINKING IN PUBLIC|     VINE ST|     DE LONGPRE|34.0962|-118.3267|POINT (-118.3267 ...|-118.3267|  34.0962|
|100629406|        RFC| 12/08/2010|1420|     06|Hollywood|              0645| 51|       M|               M|41.27CLAMC|DRINKING IN PUBLIC|HOLLYWOOD BL|    HIGHLAND AV|34.1016|-118.3387|POINT (-118.3387 ...|-118.3387|  34.1016|
|100629408|        RFC| 12/08/2010|2245|     06|Hollywood|              0665| 34|       M|               M|41.27CLAMC|DRINKING IN PUBLIC|  LAS PALMAS|SANTA MONICA BL|34.0907|-118.3363|POINT (-118.3363 ...|-118.3363|  34.0907|
|100629409|        RFC| 12/08/2010|2230|     06|Hollywood|              0665| 25|       M|               M|41.27CLAMC|DRINKING IN PUBLIC|  LAS PALMAS|SANTA MONICA BL|34.0907|-118.3363|POINT (-118.3363 ...|-118.3363|  34.0907|
|100629412|        RFC| 12/08/2010|2120|     06|Hollywood|              0665| 22|       F|               M|41.27CLAMC|DRINKING IN PUBLIC|   LEXINGTON|     LAS PALMAS|34.0926|-118.3363|POINT (-118.3363 ...|-118.3363|  34.0926|
|100629415|        RFC| 12/09/2010|0240|     06|Hollywood|              0647| 24|       M|               M|41.27CLAMC|DRINKING IN PUBLIC|      ARGYLE|          YUCCA|34.1037|-118.3252|POINT (-118.3252 ...|-118.3252|  34.1037|
|  2883995|    BOOKING| 09/21/2011|1755|     21|  Topanga|              2126| 20|       M|               M|     242PC|           BATTERY|     SATICOY|         CANOGA|34.2083|-118.5975|POINT (-118.5975 ...|-118.5975|  34.2083|
|100629504|        RFC| 12/12/2010|1420|     06|Hollywood|              0647| 49|       M|               M|41.27CLAMC|DRINKING IN PUBLIC|      ARGYLE|      HOLLYWOOD|34.1016|-118.3252|POINT (-118.3252 ...|-118.3252|  34.1016|
|100629506|        RFC| 12/12/2010|1530|     06|Hollywood|              0645| 27|       M|               M|41.27CLAMC|DRINKING IN PUBLIC|      SUNSET|        LA BREA| 34.098|-118.3441|POINT (-118.3441 ...|-118.3441|   34.098|
|100629549|        RFC| 12/10/2010|2354|     06|Hollywood|              0646| 19|       F|               M|41.27CLAMC|DRINKING IN PUBLIC|    SELMA AV|       CHEROKEE|34.0997| -118.335|POINT (-118.335 3...| -118.335|  34.0997|
|100629550|        RFC| 12/12/2010|0034|     06|Hollywood|              0645| 23|       M|               M|41.27CLAMC|DRINKING IN PUBLIC| HAWTHORN AV|    HIGHLAND AV|34.1004|-118.3387|POINT (-118.3387 ...|-118.3387|  34.1004|
|100629551|        RFC| 12/10/2010|2355|     06|Hollywood|              0646| 20|       M|               M|41.27CLAMC|DRINKING IN PUBLIC|       SELMA|       CHEROKEE|34.0997| -118.335|POINT (-118.335 3...| -118.335|  34.0997|
+---------+-----------+-----------+----+-------+---------+------------------+---+--------+----------------+----------+------------------+------------+---------------+-------+---------+--------------------+---------+---------+
only showing top 20 rows

In [71]:
# Define the output path where you want to save the CSV file locally
output_path = r"C:\Users\16395\Downloads\final project\bigdatasource\LAPD\sqlserver_pyspark_transformation\output.csv"

In [72]:
# Reduce the number of partitions to 1 to create a single CSV file
combined_arrest_data = combined_arrest_data.coalesce(1)

In [73]:
# Save the DataFrame to a single CSV file on your local machine
combined_arrest_data.write.csv(output_path, mode="overwrite", header=True)

In [ ]:
combined_arrest